#SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=resumebuilderai01@gmail.com
EMAIL_PASS=jgss ftbw nqqw tlsn
EMAIL_FROM=resumebuilderai01@gmail.com
FROM_NAME=Resume Builder
FROM_EMAIL=resumebuilderai01@gmail.com

#Image Cloude
CLOUDINARY_CLOUD_NAME=doniatlhx
CLOUDINARY_API_KEY=164956539825799
CLOUDINARY_API_SECRET=lKH8DbS66eDXSm912Mgo-YqJTN0
PORT=5001

#Enviourment
NODE_ENV=development

#DataBase
MONGODB_URI=mongodb://localhost:27017/resume_builder
JWT_SECRET=resume-builder-jwt-secret-key-2024-secure-and-unique
JWT_EXPIRE=7d

#Client
CLIENT_URL=http://localhost:3000

#Limits
MAX_FILE_SIZE=5242880
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/gif,application/pdf
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=1000